body {
    background-color: #FDF0D5 ;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}
#navLogo {
    width: 100%;
    margin: auto;
}
.navigation  {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: auto;
}
ul {
    padding: 8px;  
}
li {
    padding: 8px;
    color: #331832;
}
.heroImg{
    height: 500px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
.projectCards {
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 1fr 1fr;
    grid-template-areas: 
    "01 02"
    "03 04";
    
    
}
#p01 {
    background-image: url(/code/images/Mobile\ App\ Design\ Case\ Study\ \(Group\).png) ;
    
}
#p02 {
    background-image: url(/code/images/Government\ RWD\ Redesign.png);
}
#p03 {
    background-image: url(/code/images/NPO\ Redesign\ Thumbnail.png);
}
#p04 {
    background-image: url(/code/images/Mobile\ App\ Design\ Case\ Study\ \(Solo\).png);
}
p {
    padding-left: 3%;
    font-family: 'Caudex', sans-serif;
    font-size: 18px;
    width: 50%;
    color: #FDF0D5 ;
}
h1, h2 {
    font-family: 'Caudex', sans-serif;
    color: #FDF0D5 ;
}
.projectTitle {
    margin-left: 3%;
    font-size: 32px;
}
button {
    margin: 3%;
    
}
.projectInfo {
    background-color: rgba(10, 10, 10, .6);
} 
.bio {
    color: #331832;
}