.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
  width: 23%;
  height: 200px;
  padding: 1%;
  text-align: center;
}
#navLogo {
    width: 100%;
    margin: auto;
}
.navigation  {
    width: 100%;
    padding: 1%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
ul {
    padding: 8px;
    
}
.heroImg{
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
.projectCard {
    background-image: url(/code/images/Mobile\ App\ Design\ Case\ Study\ \(Group\).png) ;
    height: 1017px;
    width: 1440px;
}
